@font-face {
  font-family: 'zabars';
  src: url('fonts/zabars.ttf') format('truetype');
}

body {
  font-family: 'zabars', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../img/coverImg/africa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'zabars', sans-serif;
  font-weight: 900;
  font-size: 80px;
  color: rgba(253, 239, 45, 0.597);
  margin: 0;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

header h1 {
  font-family: 'zabars', sans-serif;
  font-weight: 800;
  font-size: 74px;
  color: #fff8dc;
  text-align: center;
  background: transparent;
  text-shadow: 1px 1px 2px #d4af37, 2px 2px 4px #8b7500, 0 0 8px #ffd700;
  letter-spacing: 5px;
}

.overlay {
  position: fixed;
  background: transparent;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

canvas {
  background-color: #000000;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* Overlay über dem Canvas */
.overlay {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

/* Startbild genau passend */
.startImg {
  width: 720px;
  height: 600px;
  border-radius: 5px;
}

.youWin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 480px;
  z-index: 200;
}

.restartBtn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  font-size: 20px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 200;
}

button {
  border: none;
}
.container_infBTN {
  border: none;

  width: 500px;
  height: 40px;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 110px;
  display: flex;
  gap: 50px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.cantrol,
.start_BTN,
.impres_BTN {
  border: none;
  background: darkgreen;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
#muteButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#gameOver {
  width: 450;
  height: 450;
  font-size: 60;
  color: black;
  background: whitesmoke;
  position: absolute;
  top: 200;
  left: 200;
}

#imgTS {
  border-radius: 40px;
  width: 400px;
}

.mobileOnlyImg {
  width: 55px;
  height: 40px;
  background: #023047;
  color: #fff8dc;
  border-radius: 3px;
}

.mobile_content {
  display: none;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;

  transform: translateX(-50%);
  z-index: 8;
}

@media screen and (max-width: 720px) {
  /* Zusätzliche Regeln für kleinere Monitore  */
  body {
    color: #000;
  }
  .mobile_content {
    display: flex;
    top: 550px;
    width: 40%;
    justify-content: space-between;

    position: absolute;
  }
}
.fullscreen {
  width: 45px;
  height: 35px;
  height: 18px;
  cursor: pointer;
}

.muteBTN_fullscreenBTN {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding-bottom: 20px;
}
/* .swapyourPhone {
  display: none; /* wird von JS gesteuert */
/*   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .swapyourPhone img {
  max-width: 80%;
  height: auto;
} */
