@font-face {
  font-family: 'zabars';
  src: url('../fonts/zabars.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/poppins-v23-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v23-latin-regular.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  font-family: 'zabars', serif;
  font-weight: 400;
  background-image: url('../img/coverImg/africa.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-attachment: scroll;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-arrow,
.btn-arrow-left,
.btn-arrow-right,
.btn-arrow-jump,
.btn-arrow-bottle {
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 20%;
  background: #f5e1b3;
  display: flex;
  justify-content: space-around;
}

.btn-arrow-bottle {
  background: #f5e1b3;
}

.canvas-wrapper {
  margin-top: 20px;
  position: relative;
}
.canvas {
  position: relative;
  background: black;
  border-radius: 5px;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  aspect-ratio: 3 / 2;
  height: auto;
  position: relative;
}

.mobile_hidden {
  display: none;
  gap: 15px;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 3;
  position: absolute;
  bottom: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  z-index: 9;
}

.cover_img {
  position: absolute;
  top: 175px;
  left: 190px;
  width: 100%;
  height: 485px;
  object-fit: cover;
  border-radius: 5px;
}

.container_user_story {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 20;
  font-family: 'zabars', sans-serif;
}
.fullscreen_for_disktop {
  display: none;
  justify-content: space-between;
  width: 100%;
  max-width: 720px;
  align-items: center;
  cursor: pointer;
  background: #e2cc9b;
  margin: 0 auto;
  padding: 8px;
  border-radius: 4px;
}

.allcover {
  margin-top: 20px;
  position: relative;
  background: transparent;
  border-radius: 20px;
  padding: 30px;
  max-width: 700px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border: 2px solid #d4b07a;
  text-align: center;
  z-index: 12;
}

h1 {
  font-family: 'zabars', sans-serif;
  font-size: 66px;
  letter-spacing: 15px;
  color: #5a3b1d;
  margin-bottom: 20px;
  font-weight: bold;
}

.game-window {
  background: linear-gradient(to top, #ffa726, #81d4fa);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.game-window img {
  width: 100%;
  border-radius: 5px;
}

.button-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.button-row button {
  background-color: #f5e1b3;
  border: 2px solid #5a3b1d;
  color: #5a3b1d;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  letter-spacing: 4px;
  font-family: 'zabars', sans-serif;
}

.button-row button:hover {
  background-color: #e2cc9b;
  border: 2px solid #5a3b1d;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.bottons {
  width: 28px;
  height: 28px;
  background-color: #e2cc9b;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  padding: 4px;
}

.bottons img {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;
}

.swapYourPhone {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: black;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.swapYourPhone img {
  width: 280px;
  height: 230px;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

@media only screen and(max-width:900px) {
  body {
    height: 100vh;
  }
}

@media only screen and (max-width: 900px) {
  .canvas {
    width: 100%;
    height: 320px;
    aspect-ratio: unset;
  }
}

@media only screen and (max-width: 900px) {
  .allcover {
    width: 60%;
    height: auto;
    margin: 3px;
    padding: 10px;
  }

  .button-row button {
    padding: 3px;
    border-radius: 4px;
    display: flex;
    letter-spacing: 0;
    font-size: 12px;
  }
  .button-row {
    gap: 4px;
  }
  .cover_img {
    width: 45%;
  }
}

@media (max-width: 1500px) {
  .fullscreen_for_disktop {
    display: none !important;
  }
}

.mobile_hidden {
  display: none;
}

@media (max-width: 1370px) {
  .mobile_hidden {
    display: flex;
    justify-content: space-between;
    padding: 4px;
  }
  .bottons {
    width: 30px;
    height: 24px;
  }

  h1 {
    display: none;
  }
}
