body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../img/coverImg/africa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

canvas {
  background-color: #000000;
  border-radius: 5px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 80px;
  color: rgba(253, 239, 45, 0.597);
  margin: 0;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}
h3 {
  width: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-align: end;
}
